absl-py==1.3.0
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.2
appscript==1.2.0
arabic-reshaper==2.1.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
asteval==0.9.27
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
Automat==20.2.0
Babel==2.10.1
backcall==0.2.0
bcrypt==3.2.2
beautifulsoup4==4.11.1
binaryornot==0.4.4
black==22.1.0
bleach==4.1.0
bokeh==2.4.3
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
chineseize-matplotlib==1.2
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.6
colorcet==3.0.1
commonmark==0.9.1
configparser==5.2.0
constantly==15.1.0
cookiecutter==1.7.3
coverage==6.3.2
coveralls==3.3.1
cryptography==37.0.1
cssselect==1.1.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
deepface==0.0.75
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.4
distro==1.7.0
dlib==19.23.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
dukpy==0.2.3
entrypoints==0.4
esprima==4.0.1
et-xmlfile==1.1.0
executing==0.8.2
face-recognition==1.3.0
face-recognition-models==0.3.0
fake-useragent==0.1.11
fastjsonschema==2.15.3
filelock==3.6.0
findspark==2.0.1
fire==0.4.0
Flask==2.2.2
flatbuffers==22.9.24
fonttools==4.29.1
freetype-py==2.3.0
future==0.18.2
gast==0.4.0
gdown==4.5.3
gensim==4.1.2
genson==1.2.2
gevent==21.12.0
glfw==2.5.5
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-pasta==0.2.0
graphviz==0.19.1
greenlet==1.1.2
grpcio==1.49.1
gt3x @ git+https://github.com/muschellij2/gt3x.git@403afa831bf16458a854f30167b9146c9d9dc647
gym==0.25.2
gym-notices==0.0.8
h11==0.13.0
h5py==3.7.0
heartpy==1.2.7
highway-env @ git+https://github.com/eleurent/highway-env@742ce2e69bf00169f2b250e0388c6b9926c026ec
holoviews==1.15.4
html2text==2020.1.16
hyperlink==21.0.0
hypothesis==6.46.1
idna==3.3
imageio==2.19.0
imageio-ffmpeg==0.4.7
importlib-resources==5.7.1
incremental==21.3.0
iniconfig==1.1.1
install==1.3.5
ipykernel==6.9.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==8.0.2
itemadapter==0.6.0
itemloaders==1.0.4
itsdangerous==2.1.2
jedi==0.18.1
jieba==0.42.1
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==1.0.0
joblib==1.1.0
json-tricks==3.15.5
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.4
jupyter-core==4.9.1
jupyter-server==1.16.0
jupyterlab==3.3.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.13.0
jupyterlab-widgets==3.0.3
kaleido==0.2.1
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==14.0.6
llvmlite==0.39.1
lmfit==1.0.3
lml==0.1.0
loguru==0.6.0
lxml==4.8.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mne==1.0.2
mne-bids==0.10
mock==4.0.3
msgpack==1.0.4
mtcnn==0.1.1
mypy-extensions==0.4.3
nbclassic==0.3.7
nbclient==0.5.10
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.4
networkx==2.8
nibabel==3.2.2
nltk==3.7
notebook==6.4.8
notebook-shim==0.1.0
Nuitka==0.8.3
numba==0.56.2
numpy==1.22.2
oauthlib==3.2.1
opencv-python==4.5.5.64
openpyxl==3.0.9
opt-einsum==3.3.0
outcome==1.2.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
panel==0.14.3
parallel-ssh==2.10.0
param==1.12.3
paramiko==2.10.4
parsel==1.6.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pbr==5.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pingouin==0.2.2
pipx==1.0.0
platformdirs==2.5.2
plotly==5.6.0
pluggy==1.0.0
pooch==1.6.0
poyo==0.5.0
progressbar2==4.0.0
prometheus-client==0.13.1
prompt-toolkit==3.0.27
Protego==0.2.1
protobuf==3.19.6
psutil==5.9.0
psy==0.0.1
PsychoPy==2022.1.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py4j==0.10.9.3
pyActigraphy==1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybv==0.6.0
pycparser==2.21
pyct==0.5.0
PyDispatcher==2.0.5
pyexcel==0.7.0
pyexcel-ezodf==0.3.4
pyexcel-io==0.6.6
pyexcel-ods3==0.6.1
pygame==2.1.2
pyglet==1.5.23
Pygments==2.11.2
pylsl==1.15.0
PyNaCl==1.5.0
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-libdispatch==7.3
pyOpenSSL==22.0.0
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
pyspark==3.2.1
pytest==7.1.2
pytest-cov==3.0.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==0.20.0
python-markdown-maker==1.0
python-pygaze==0.7.4
python-slugify==6.1.2
python-utils==3.2.3
python-vlc==3.0.16120
Pytrack==1.0.1
PyTrack-NTU==1.1.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyWavelets==1.3.0
pywebio==1.5.2
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.3.2
QtPy==2.2.1
queuelib==1.6.2
regex==2022.4.24
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
retina-face==0.0.12
rich==12.6.0
rpy2==3.5.1
rsa==4.9
rubicon-objc==0.4.2
saccademodel==0.1.0
scikit-image==0.19.2
scikit-learn==1.0.2
scikit-video==1.1.11
scipy==1.8.0
scot==0.2.1
Scrapy==2.6.1
seaborn==0.11.2
selenium==4.2.0
Send2Trash==1.8.0
service-identity==21.1.0
simplejson==3.17.6
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sourceinspect==0.0.4
spark-nlp==3.4.2
sparknlp==1.0.0
SpeechRecognition==3.8.1
spider-utils==2022.5.29
spm1d==0.4.2
SQLAlchemy==1.4.42
ssh-python==0.10.0
ssh2-python==0.27.0
stack-data==0.1.4
statsmodels==0.13.2
stevedore==3.5.0
stochastic==0.7.0
tabpy==2.5.0
taichi==1.3.0
tenacity==8.0.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
textblob==0.17.1
texttable==1.6.4
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
TittaPy==1.0.0rc5
tldextract==3.3.0
tobii-research==1.11.0
tomli==2.0.1
torch==1.11.0
torchvision==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
trio==0.21.0
trio-websocket==0.9.2
Twisted==22.4.0
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
ua-parser==0.10.0
ujson==5.5.0
uncertainties==3.1.7
unreal==0.1.1
urllib3==1.26.9
user-agents==2.2.0
userpath==1.8.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.59.0
Werkzeug==2.2.2
wget==3.2
widgetsnbextension==4.0.3
wrapt==1.14.1
wsproto==1.1.0
wxPython==4.2.0
xlrd @ file:///Users/ucdlab/Desktop/Course%20/Python%20-%20%E5%A4%A7%E6%95%B0%E6%8D%AE%20/%E6%B8%85%E5%8D%8EPython%202022/Excel-File-Processing/xlrd-2.0.1-py3-none-any.whl
XlsxWriter==3.0.3
xlutils==2.0.0
xlwings==0.27.6
xlwt==1.3.0
xmltodict==0.12.0
you-get==0.4.1620
zope.event==4.5.0
zope.interface==5.4.0
